.main {
    background: hotpink;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.question {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers {
    background: lime;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        width: 10rem;
        font-size: inherit;
        height: 4rem;
        animation: show-button 150ms forwards ease-in;

        & ~ * {
            margin-top: 1rem;
        }
    }
}

.placeholder {
    height: 4rem;
    width: 10rem;

    & ~ * {
        margin-top: 1rem;
    }
}

@keyframes show-button {
    from {
        transform: scale(0) rotate(45deg);
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}
