.timebar {
    background: white;
    height: 1rem;
    position: relative;

    > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background: red;
        transition-timing-function: linear;
        transition-property: width;
    }
}

.running > div {
    animation-name: timeout-alert;
    animation-fill-mode: forwards;
    width: 100%;
}

@keyframes timeout-alert {
    0%,
    60% {
        background-color: #0c0;
    }

    80% {
        background-color: #ff0;
    }

    100% {
        background-color: #f00;
    }
}
